@import "tailwindcss";

:root {
  --background: #121212;
  --neutral: #949497;
  --dropdown: #262626;
}

@font-face {
  font-family: 'Sora';
  src: url('/fonts/Sora/Sora-VariableFont_wght.ttf') format('truetype');
}

@theme {
  --font-sora: "Sora", sans-serif;
}

@theme inline {
  --color-background: var(--background);
  --color-neutral: var(--neutral);
  --color-dropdown: var(--dropdown);
}


@utility text-preset-1 {
    font-family: var(--font-sora);
    font-weight: 700;
    font-style: italic;
    font-size: 6rem;
    line-height: 100%;
    letter-spacing: -2px;
}